@charset "UTF-8";

*{
    margin: 10px;
}


body{
 background-color: #7ccaf8;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 20px;
}


header{
    font: bolder 2em 'Verdana', sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
}

section{
    background: white;
    width: 500px;
    margin: auto;
    border-radius: 15px;
    padding-left: 25px;
    

}


footer{
    font-style: italic;
    color: white;
    text-align: center;
    padding: 20px;
}